@layer theme, base, mapbox, mui, components, utilities;
@import 'tailwindcss';

@theme {
  --ease-spring-snappy: linear(0, 0.2375, 0.5904, 0.8358, 0.9599, 1.0061, 1.0152, 1.0116, 1.0062, 1.0025, 1.0006, 0.9999, 1);
  --ease-spring: linear(0, 0.0942, 0.2989, 0.5275, 0.73, 0.8839, 0.9858, 1.0425, 1.0655, 1.0666, 1.0558, 1.0405, 1.0255, 1.0131, 1.0043, 0.9989, 0.9962, 1);
  --ease-spring-soft: linear(0, 0.0332, 0.1241, 0.2583, 0.4207, 0.5967, 0.7729, 0.9379, 1.0826, 1.2006, 1.2883, 1.3445, 1.3701, 1.3679, 1.3423, 1.2983, 1.2415, 1.1774, 1.1113, 1.0477, 0.9904, 0.9421, 0.9047, 0.8789, 0.8648, 0.8615, 0.8677, 0.8815, 0.9009, 0.9239, 0.9485, 0.9727, 0.9952, 1.0146, 1.0303, 1.0417, 1.0487, 1.0515, 1.0506, 1.0465, 1.0401, 1.032, 1.023, 1.0138, 1.0051, 0.9974, 0.9909, 0.986, 0.9828, 0.9811, 0.9809, 0.9819, 0.984, 0.9868, 0.99, 0.9935, 0.9968, 0.9998, 1.0025, 1.0045, 1.006, 1.0069, 1.0072, 1.0069, 1.0063, 1.0054, 1.0042, 1.003, 1.0017, 1.0005, 0.9995, 0.9986, 0.998, 0.9976, 1);
}

/* noinspection CssUnresolvedCustomProperty */
@theme inline {
  /* Material UI typography */
  --font-roboto: var(--font-roboto);

  --tracking-h1: -0.01562em;
  --tracking-h2: -0.00833em;
  --tracking-h4: 0.00735em;
  --tracking-h6: 0.0075em;
  --tracking-body1: 0.00938em;
  --tracking-body2: 0.01071em;

  --typography-h1: var(--mui-font-h1);
  --typography-h2: var(--mui-font-h2);
  --typography-h3: var(--mui-font-h3);
  --typography-h4: var(--mui-font-h4);
  --typography-h5: var(--mui-font-h5);
  --typography-h6: var(--mui-font-h6);
  --typography-subtitle1: var(--mui-font-subtitle1);
  --typography-subtitle2: var(--mui-font-subtitle2);
  --typography-body1: var(--mui-font-body1);
  --typography-body2: var(--mui-font-body2);
  --typography-button: var(--mui-font-button);
  --typography-caption: var(--mui-font-caption);
  --typography-overline: var(--mui-font-overline);

  /* Material UI breakpoints */
  --breakpoint-sm: 37.5rem; /* 600px */
  --breakpoint-md: 56.25rem; /* 900px */
  --breakpoint-lg: 75rem; /* 1200px */
  --breakpoint-xl: 96rem; /* 1536px */
  --breakpoint-2xl: 120rem; /* 1920px */

  --container-sm: 37.5rem; /* 600px */
  --container-md: 56.25rem; /* 900px */
  --container-lg: 75rem; /* 1200px */
  --container-xl: 96rem; /* 1536px */
  --container-2xl: 120rem; /* 1920px */

  /* Material UI theme colors */
  --color-primary: rgb(var(--mui-palette-primary-mainChannel));
  --color-primary-light: rgb(var(--mui-palette-primary-lightChannel));
  --color-primary-dark: rgb(var(--mui-palette-primary-darkChannel));
  --color-primary-contrast: rgb(var(--mui-palette-primary-contrastTextChannel));

  --color-secondary: rgb(var(--mui-palette-secondary-mainChannel));
  --color-secondary-light: rgb(var(--mui-palette-secondary-lightChannel));
  --color-secondary-dark: rgb(var(--mui-palette-secondary-darkChannel));
  --color-secondary-contrast: rgb(var(--mui-palette-secondary-contrastTextChannel));

  /* Material UI status colors */
  --color-info: rgb(var(--mui-palette-info-mainChannel));
  --color-info-light: rgb(var(--mui-palette-info-lightChannel));
  --color-info-dark: rgb(var(--mui-palette-info-darkChannel));
  --color-info-contrast: rgb(var(--mui-palette-info-contrastTextChannel));

  --color-error: rgb(var(--mui-palette-error-mainChannel));
  --color-error-light: rgb(var(--mui-palette-error-lightChannel));
  --color-error-dark: rgb(var(--mui-palette-error-darkChannel));
  --color-error-contrast: rgb(var(--mui-palette-error-contrastTextChannel));

  --color-success: rgb(var(--mui-palette-success-mainChannel));
  --color-success-light: rgb(var(--mui-palette-success-lightChannel));
  --color-success-dark: rgb(var(--mui-palette-success-darkChannel));
  --color-success-contrast: rgb(var(--mui-palette-success-contrastTextChannel));

  --color-warning: rgb(var(--mui-palette-warning-mainChannel));
  --color-warning-light: rgb(var(--mui-palette-warning-lightChannel));
  --color-warning-dark: rgb(var(--mui-palette-warning-darkChannel));
  --color-warning-contrast: rgb(var(--mui-palette-warning-contrastTextChannel));

  /* Material UI text & common colors */
  --color-text-primary: rgb(var(--mui-palette-text-primaryChannel));
  --color-text-secondary: rgb(var(--mui-palette-text-secondaryChannel));
  --color-text-disabled: var(--mui-palette-text-disabled);
  --color-common-background: var(--mui-palette-common-background);
  --color-common-onBackground: var(--mui-palette-common-onBackground);
  --color-divider: var(--mui-palette-divider);

  /* Material UI background colors */
  --color-background-default: rgb(var(--mui-palette-background-defaultChannel));
  --color-background-paper: rgb(var(--mui-palette-background-paperChannel));

  /* Material UI action colors */
  --color-action-active: var(--mui-palette-action-active);
  --color-action-hover: var(--mui-palette-action-hover);
  --color-action-selected: var(--mui-palette-action-selected);
  --color-action-disabled: var(--mui-palette-action-disabled);
  --color-action-focus: var(--mui-palette-action-focus);

  /* Material UI gray scale */
  --color-gray-50: var(--mui-palette-grey-50);
  --color-gray-100: var(--mui-palette-grey-100);
  --color-gray-200: var(--mui-palette-grey-200);
  --color-gray-300: var(--mui-palette-grey-300);
  --color-gray-400: var(--mui-palette-grey-400);
  --color-gray-500: var(--mui-palette-grey-500);
  --color-gray-600: var(--mui-palette-grey-600);
  --color-gray-700: var(--mui-palette-grey-700);
  --color-gray-800: var(--mui-palette-grey-800);
  --color-gray-900: var(--mui-palette-grey-900);
  --color-gray-A100: var(--mui-palette-grey-A100);
  --color-gray-A200: var(--mui-palette-grey-A200);
  --color-gray-A400: var(--mui-palette-grey-A400);
  --color-gray-A700: var(--mui-palette-grey-A700);

  /* Material UI shadows */
  --shadow-1: var(--mui-shadows-1);
  --shadow-2: var(--mui-shadows-2);
  --shadow-3: var(--mui-shadows-3);
  --shadow-4: var(--mui-shadows-4);
  --shadow-5: var(--mui-shadows-5);
  --shadow-6: var(--mui-shadows-6);
  --shadow-7: var(--mui-shadows-7);
  --shadow-8: var(--mui-shadows-8);
  --shadow-9: var(--mui-shadows-9);
  --shadow-10: var(--mui-shadows-10);
  --shadow-11: var(--mui-shadows-11);
  --shadow-12: var(--mui-shadows-12);
  --shadow-13: var(--mui-shadows-13);
  --shadow-14: var(--mui-shadows-14);
  --shadow-15: var(--mui-shadows-15);
  --shadow-16: var(--mui-shadows-16);
  --shadow-17: var(--mui-shadows-17);
  --shadow-18: var(--mui-shadows-18);
  --shadow-19: var(--mui-shadows-19);
  --shadow-20: var(--mui-shadows-20);
  --shadow-21: var(--mui-shadows-21);
  --shadow-22: var(--mui-shadows-22);
  --shadow-23: var(--mui-shadows-23);
  --shadow-24: var(--mui-shadows-24);

  /* Material UI opacity */
  --opacity-activated: calc(100% * var(--mui-palette-action-activatedOpacity));
  --opacity-disabled: calc(100% * var(--mui-palette-action-disabledOpacity));
  --opacity-focus: calc(100% * var(--mui-palette-action-focusOpacity));
  --opacity-hover: calc(100% * var(--mui-palette-action-hoverOpacity));
  --opacity-selected: calc(100% * var(--mui-palette-action-selectedOpacity));

  /* Material UI overlays */
  --overlay-1: var(--mui-overlays-1);
  --overlay-2: var(--mui-overlays-2);
  --overlay-3: var(--mui-overlays-3);
  --overlay-4: var(--mui-overlays-4);
  --overlay-5: var(--mui-overlays-5);
  --overlay-6: var(--mui-overlays-6);
  --overlay-7: var(--mui-overlays-7);
  --overlay-8: var(--mui-overlays-8);
  --overlay-9: var(--mui-overlays-9);
  --overlay-10: var(--mui-overlays-10);
  --overlay-11: var(--mui-overlays-11);
  --overlay-12: var(--mui-overlays-12);
  --overlay-13: var(--mui-overlays-13);
  --overlay-14: var(--mui-overlays-14);
  --overlay-15: var(--mui-overlays-15);
  --overlay-16: var(--mui-overlays-16);
  --overlay-17: var(--mui-overlays-17);
  --overlay-18: var(--mui-overlays-18);
  --overlay-19: var(--mui-overlays-19);
  --overlay-20: var(--mui-overlays-20);
  --overlay-21: var(--mui-overlays-21);
  --overlay-22: var(--mui-overlays-22);
  --overlay-23: var(--mui-overlays-23);
  --overlay-24: var(--mui-overlays-24);
}

/* Material UI base styles */
@layer base {
  h1 {
    @apply typography-h1 tracking-h1;
  }

  h2 {
    @apply typography-h2 tracking-h2;
  }

  h3 {
    @apply typography-h3;
  }

  h4 {
    @apply typography-h4 tracking-h4;
  }

  h5 {
    @apply typography-h5;
  }

  h6 {
    @apply typography-h6 tracking-h6;
  }

  p {
    @apply typography-body1 tracking-body1;
  }

  button, input, optgroup, select, textarea {
    @apply typography-body2;
  }
}

/* Material UI typography utilities */
@utility typography-* {
  font: --value(--typography-*);
}

/* Material UI overlay utilities */
@utility overlay-* {
  background-image: --value(--overlay-*);
}

/* Material UI elevation utilities */
@utility elevation-* {
  background-image: --value(--overlay-*);
  box-shadow: --value(--shadow-*);
}
